.main-body {
    width: 700px;
    padding: 10px;
    max-width: 100%;
    background-color: #f0f0f0;
}
h1, h2, p {
    text-align: center;
}
.copyright {
    font-size: 0.3cm;
}
.content {
    padding-top: 0.2cm;
}
.table-of-contents {
    border: 1px solid black;
    width: fit-content;
    padding: 5px 25px 5px 5px;
}
