<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Water scarcity</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="css/stylesheet.css" rel="stylesheet">
    </head>
    <body>
        <div class="body-container">
            <div class="container main-body rounded">
                <h1>{{ page.title }}</h1>
                <div class="table-of-contents">
                    <h6>Contents</h6>
                    <ul>
                        {% for item in page.table-of-contents %}
                        <li>
                            <a href="#{{ item.id }}">{{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="content">{{ content | markdownify }}</div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <footer class="copyright">&copy; 2021 Lucy Beda</footer>
    </body>
</html>